<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  
  <connectionStrings>

    <add name="DefaultConnection1" connectionString="Data Source=***REMOVED***;initial catalog=***REMOVED***;user id=***REMOVED***;password=***REMOVED***;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ColleagueContext1" connectionString="data source=***REMOVED***;initial catalog=***REMOVED***;user id=***REMOVED***;password=***REMOVED***;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!-- Test   
    <add name="DefaultConnection2" connectionString="Data Source=***REMOVED***;initial catalog=***REMOVED***;user id=***REMOVED***;;password=***REMOVED***;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ColleagueContext2" connectionString="data source=***REMOVED***;initial catalog=***REMOVED***;user id=***REMOVED***;y;password=***REMOVED***;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
     -->

    <!-- system Test  
    <add name="DefaultConnection3" connectionString="Data Source=***REMOVED***;initial catalog=***REMOVED***;user id=***REMOVED***;;password=***REMOVED***;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ColleagueContext3" connectionString="data source=***REMOVED***;initial catalog=***REMOVED***;e;user id=***REMOVED***;password=kasu569***REMOVED***;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
     -->
    
  </connectionStrings>
      

</configuration>
